body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:transparent;
    background-clip:text;
    background-image: url("img/amavi.jpg");
    background-repeat: no-repeat;
    
}

h1 {
    text-align: center;
    font-style: initial;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    background: url('img/logo2.jpg');
    color: transparent;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    backdrop-filter: blur(15px);
    background: rgba(255,255,255,0.2);

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 10px;
}

form input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.botao {
    background-color: hsl(236, 100%, 36%);
    border: solid 5px blue ;
    border-radius: 20px;
    color: white;
    padding: 15px 200px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    align-items: center;
    width: 25%;
}

.botao:hover{
    background-color: rgb(0, 2, 128);
    color: white;
    transform: scale(1.1)
}
